<header>
  <img
  src="assets/img/perfil.jpg"
  alt="Lenilson Soares - foto perfil"
  width="130"
  height="130px"
  loading="eager"
  />
  <h1>Lenilson Soares</h1>
</header>

<aside>
  <div class="container">
    <p> stacks de desenvolvimento</p>
    <p>Barsilia, DF, Brasil</p>
    <p>
      Estou em formação.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/lenilson-soares-/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>

      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5561999075174&text=Ol%C3%A1%20Lenilson,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (61) 9 9907-5174</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:lenilsonp40@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>lenilsonp40&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>

  </div>
</aside>
