.example-card {
  max-width: 300px;
  cursor: pointer;
  margin: 20px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  height: 300px;
  object-fit: contain;
}

.title {
  font: 500;
  margin: 0 auto;
}

.preco {
  font-size: 25px;
  color: rgb(28, 177, 28);
}

.estoque {
  color: red;
}

.example-button-container{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-end;
  margin: 10px;
}
